body {
  margin: 0;
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-feature-settings: "ss01", "ss02", "cv01", "cv03";
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
  font-variant-numeric: slashed-zero !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
